@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --paragraph-large: Roboto;

  /* font sizes */
  --paragraph-large-size: 18px;
  --heading-large-size: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --labels-medium-size: 16px;
  --display-large-size: 96px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;

  /* Colors */
  --background-color: #f7f9ff;
  --white: #fff;
  --blue-shade-level-2: #9595dd;
  --primary-blue: #4c4cdb;
  --blue-shade-level-3: #c8c8e8;
  --green-level-1: #008080;
  --black-level-1: #141414;

  /* Gaps */
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-29xl: 48px;
  --gap-812xl: 831px;
  --gap-189xl: 208px;
  --gap-85xl: 104px;
  --gap-396xl: 415px;

  /* Paddings */
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-29xl: 48px;
  --padding-12xl: 31px;
  --padding-xl: 20px;
  --padding-93xl: 112px;
  --padding-54xl: 73px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-5xl: 24px;
  --padding-11xs: 2px;

  /* Border radiuses */
  --br-101xl: 120px;
  --br-21xl: 40px;
}
